@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Enforcing light mode default equivalent for now to match strict design */
body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif; */
}

/* Custom scrollbar hiding utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
